*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Inter',sans-serif;
}

body{
background:#f4f7fc;
display:flex;
justify-content:center;
}

.phone{
width:100%;
max-width:430px;
padding:20px;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
}

header a{
text-decoration:none;
font-size:22px;
color:#3568ff;
}

.card{
background:white;
padding:22px;
border-radius:20px;
margin-bottom:20px;
box-shadow:0 8px 20px rgba(0,0,0,.06);
}

.card h3{
margin-bottom:20px;
}

.row{
margin-bottom:18px;
}

label{
display:block;
margin-bottom:8px;
font-weight:600;
}

input{
width:100%;
padding:14px;
border-radius:12px;
border:1px solid #ddd;
font-size:15px;
outline:none;
}

input:focus{
border-color:#3568ff;
}

button{
width:100%;
height:48px;
border:none;
border-radius:24px;
font-size:15px;
cursor:pointer;
margin-top:10px;
}

#saveBtn,
#passwordBtn{
background:#3568ff;
color:white;
}

#saveBtn:hover,
#passwordBtn:hover{
background:#2955d9;
}

.danger{
border:2px solid #ffe4e4;
}

.logout{
background:#ff9800;
color:white;
margin-bottom:10px;
}

.delete{
background:#ef4444;
color:white;
}

.logout:hover{
background:#e68900;
}

.delete:hover{
background:#dc2626;
}

button i{
margin-right:8px;
}