*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Inter',sans-serif;
}

body{
background:#f4f7fc;
display:flex;
justify-content:center;
}

.phone{
width:100%;
max-width:430px;
padding:20px;
min-height:100vh;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:25px;
}

header a,
header i{
font-size:22px;
color:#3568ff;
text-decoration:none;
cursor:pointer;
}

.device-card{

background:white;

border-radius:22px;

padding:30px;

text-align:center;

box-shadow:0 8px 20px rgba(0,0,0,.06);

}

.chip{

font-size:60px;

color:#3568ff;

margin-bottom:20px;

}

.online{

color:#22c55e;

font-weight:600;

}

.offline{

color:#ef4444;

font-weight:600;

}

.grid{

display:grid;

grid-template-columns:1fr 1fr;

gap:15px;

margin-top:20px;

}

.info{

background:white;

padding:18px;

border-radius:18px;

box-shadow:0 5px 15px rgba(0,0,0,.06);

text-align:center;

}

.info h4{

font-size:14px;

color:#777;

margin-bottom:8px;

}

.info p{

font-size:18px;

font-weight:600;

color:#3568ff;

}

.actions{

display:flex;

gap:15px;

margin-top:25px;

}

button{

flex:1;

height:50px;

border:none;

border-radius:25px;

font-size:15px;

cursor:pointer;

color:white;

}

#connectBtn{

background:#22c55e;

}

#disconnectBtn{

background:#ef4444;

}