*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Inter',sans-serif;
}

body{
background:#f4f7fc;
display:flex;
justify-content:center;
}

.phone{
width:100%;
max-width:430px;
min-height:100vh;
padding:20px;
display:flex;
flex-direction:column;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
}

header h2{
font-size:22px;
font-weight:700;
}

header a,
header i{
color:#3568ff;
font-size:22px;
text-decoration:none;
}

.filter-card{

background:white;
padding:25px;
border-radius:22px;
box-shadow:0 8px 20px rgba(0,0,0,.06);
text-align:center;

}

.progress{

width:100%;
height:18px;
background:#e7edf8;
border-radius:20px;
margin:25px 0;
overflow:hidden;

}

.progress-bar{

height:100%;
width:87%;
background:linear-gradient(90deg,#22c55e,#4ade80);
transition:.4s;

}

.filter-card h1{

font-size:50px;
color:#3568ff;

}

.grid{

margin-top:20px;

display:grid;
grid-template-columns:1fr 1fr;
gap:15px;

}

.info{

background:white;
padding:20px;
border-radius:18px;
text-align:center;
box-shadow:0 5px 15px rgba(0,0,0,.06);

}

.info h4{

font-size:14px;
color:#777;
margin-bottom:8px;

}

.info h2{

color:#3568ff;

}

.history{

margin-top:20px;
background:white;
padding:20px;
border-radius:20px;
box-shadow:0 5px 15px rgba(0,0,0,.06);

}

.history h3{

margin-bottom:15px;

}

.history ul{

list-style:none;

}

.history li{

display:flex;
justify-content:space-between;
padding:12px 0;
border-bottom:1px solid #eee;

}

button{

margin-top:20px;
height:50px;
border:none;
border-radius:25px;
background:#3568ff;
color:white;
font-size:16px;
cursor:pointer;

}

button:hover{

background:#2955d9;

}

nav{

margin-top:auto;

display:flex;
justify-content:space-around;

background:white;

padding:15px;

border-radius:25px;

box-shadow:0 -5px 20px rgba(0,0,0,.08);

}

nav a{

display:flex;
flex-direction:column;
align-items:center;
text-decoration:none;
font-size:12px;
color:#888;

}

nav i{

font-size:22px;
margin-bottom:5px;

}

nav a:hover{

color:#3568ff;

}